
.lead-card{
  border-style:none;
  background-color: #111b3b;
}
.hello-heading{
  color: goldenrod;
  font-size: 40px;
  font-weight: bold;
}
.lead-heading{
  color: lightgray;
  font-size: 60px;
  font-weight: bold;
}
.designation-text{
  color: seagreen;
  font-size: 30px;
  font-weight: bold;
}
.head-text-body{
  color: lightgray;
  font-size:23px;
}



@media only screen and (max-width: 576px){
  .lead-card{
    margin-top: -50px;
    text-align: center;
  }
  .hello-heading{
    align-items: center;
  }
  .lead-heading{
    font-size: 53px;
  }
  .designation-text{
    font-size:26px;
    justify-content: center;
  }
}