.paper_text_color_css{
  
  color:brown;
  ;
}
.paper_text_color_yellow:hover{
  
  background-color: rgb(149, 149, 4) !important;
  
  
}
.paper_text_color_text:hover{
  color:yellow !important;
}
.tbody{
  border:rgba(255, 255, 0, 0.46) !important;
  box-shadow: 2px 2px 5px rgb(51, 51, 51) !important;
}